.control-panel {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.compute-option {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}